#  Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# ignore this file
!tfmodule-template.tf

# tardigrade-ci
.tardigrade-ci
tardigrade-ci/

# terraform lock file
.terraform.lock.hcl

# Cache created by pytest
tests/__pycache__/

# terratest
tests/go.*

.DS_Store
